*{
    font-family: 'Raleway', sans-serif;
    
}

html, body{
    width: 100%;
    height: 100%;
}


/* navbar */
.logo-navbar{
height: 50px;

}
nav{
    background-color:#47ada0;
}
ul li a{
    font-size: 20px;
}

/*footer*/


footer {
    width: 100%;
    background-color: rgb(193, 235, 199);
    padding: 10px 0px;
    position: absolute;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.sisc {
    height: 100%;
    display: flex;
    margin-right:25vw;
}


.sisc p {
    color:white;  
    font-size:12px;
    margin-right:5px;
}

.academia-icon {
    height: 100%;
    display: flex;
    margin-right:25vw;
}

.academia-icon a {
    color:white;  
    font-size:12px;
    margin-right:5px;

}

.social a{
    padding-left:7px;
}

.social {
    height: 100%;
}

@media screen and (max-width: 768px){
    .sisc {
        margin-right: 0vw;
    }
    .academia-icon {
        margin-right: 0vw;
    }
}

/* navbar */
.logo-navbar {
  height: 70px;
  margin-left: 10px;
  margin-top: 10px;
}
nav {
  /* background-color: #47ad9f38;
   */
   background-color: rgb(193, 235, 199);
  height: 90px;
  /* opacity: 0.4; */
}
ul li a {
  font-size: 20px;
}


